body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.avatar{
  width: 80px;
  border-radius: 50px;
}
.avatar-img{
  width: 100px;
  border-radius: 80px;
}
.selected{
  border: 2px solid rgb(88,6,109);
  background-color: rgb(205,171,211);
 

}
.image-author{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.select{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}